*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 0;
}
.header, section {
    width: 1170px;
    margin: 0 auto;
}


.site_navigation {
    float: right;
    list-style: none;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    
    
}
.clearfix::after {
    content: '';
    clear: both;
    display: block;
}

.site_navigation li {
    display: inline-block;
    font-size: 14px;
    text-transform: uppercase;
} 
.site_navigation li:hover{
    color: rgb(26, 188, 156);
    cursor: pointer;
}
.imglogo.{
    display:block;
    max-width: 100%;
}


.site_logo {
    display: inline-block;
    text-decoration: none;
}


.site_navigation li:not(:last-child){
    margin-right: 36px;
}

.conteiner {
    width: 1170px;
    margin: 0 auto;
}
.header {
   
    padding-top: 38px;
}
.nav_menu {
    margin-bottom: 104px;
}
.section {
    width: 1170px;
    margin: 0 auto;
    padding-bottom: 106px;
}
.title {
    
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    font-size: 48px;
    text-align: center;
    position: relative;
    font-weight: bold;
    padding-bottom: 130px; 
    

}
.title  ::after {
    content: '';
    position: absolute;
    width: 100px;
    height: 4px;
    bottom: 0;
    right: 50%;
    transform: translateX(-50%);
    background: red;
}
.list_item_inner{
    float: left;
    list-style: none;
    padding-bottom: 30px;
    
}
.list_item_inner:not(:nth-child(4n)){
    margin-right: 30px;
 }
 
 .text_list {
     display:block;
     font-size: 18px;
     background: rgb(50, 50, 50);
     color: rgb(255, 255, 255);
     height: 40px;
     text-transform: uppercase;
     font-weight: bold;
     vertical-align: middle;
     
     


 }
 span {
     background:rgb(140, 140, 140);
     float: right;
     font-size: 18px;
     color: rgb(255, 255, 255);
     height: 40px;
     

 }
 .list_item_clearfix::after{
     content: '';
     clear: both;
     display: block;
 }
 .imglist{
     height: 322px;
     display: block;
     width: 256px;
     object-fit: contain;
     background-repeat: no-repeat;
     background: rgb(233, 240, 253);
 }
 .list_item_clearfix :hover p {
     background: rgb(26, 188, 156);
     cursor: pointer;
 }
 button {
     display: block;
}
.news {
    float: left;
    margin-right: 30px;
    width: 350px;
}
.section_clearfix::after{
    content: '';
    clear: both;
    display: block;
}
.news:not(:nth-child(3n)){
    margin-right: 30px;
}
.news_title{
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 700;
    margin-top: 20px;
    margin-bottom: 50px;
}
.text_news {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    margin-bottom: 20px;
}
.btn {
    width: 160px;
    height: 50px;
    background: rgb(26, 188, 156);
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: rgb(255, 255, 255);
}